/* .App {
  margin-left: 40px;
  margin-right: 40px;
} */

.logo-wrapper {
  height: 100px;
  width: 100px;
  position: absolute;
}

.result-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .logo-wrapper {
    height: 50px;
    width: 50px;
  }
}
