form {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: aqua;
}

label,
input,
button {
  margin: 6px;
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }
  button {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
  }
}
